body {
  background-image: url("../src/asset/ig_LoginTheme.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.content {
  display: block;
  padding: 20px;
  border: 1px solid white;
}

button {
  padding: 5px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-color: white;
}

th {
  color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 25px;
  text-decoration: underline;
}

td {
  color: white;
  padding: 20px;
  text-align: center;
  /* border-bottom: 1px solid gray; */
  border-bottom: 1px white;
}

tr {
  width: 100%;
}

h2 {
  color: white;
  text-align: center;
}
